<h1>Our Esteemed Donors' List</h1>
<ul>
  <% @donors.each do |donor| %>

    <li class="border">Donor Name:
      <%= donor.name %><br>
      <% donor.donations.each do |donation| %>
        <ul>Charity donated to:
          <li><%= donation.charity.name %></li>
        </ul>
      <% end %>
    </li><br>
  <% end %>
</ul>
