<h1>Our Esteemed Donors' List</h1>
<form action="/donations/new" method="get">
  <input type="submit" value="Donate">
</form>
<a href="/charities">See List of Charities You Might Consider to Donate</a>
<ul>
  <% @donors.each do |donor| %>

    <li class="border">Donor Name:
      <a href="/donors/<%= donor.id %>"><%= donor.name.capitalize %></a><br>
      <% donor.donations.each do |donation| %>
        <ul>Charity donated to:
          <li><%= donation.charity.name.capitalize %></li>
        </ul>
      <% end %>
    </li><br>
  <% end %>
</ul>
<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form>
