<h2>Please sign up for a donor account below:</h2>
<% if flash[:message] %>
  <p class="warning"><%= flash[:message] %></p>
<% end %>
<form action="/donors" method="post">
  <label for="name">Donor Name: </label>
  <input type="text" name="name" value="" placeholder="Name"><br><br>
  <label for="email">Email: </label>
  <input type="email" name="email" value="" placeholder="name@example.com"><br><br>
  <label for="passord">Password: </label>
  <input type="password" name="password" value="" placeholder="Password"><br><br>
  <input type="submit" name="" value="Submit">
</form>
